@import 'variables.css';

/* List styling */
h1 {
    text-align: center;
}

.tutorial-list {
    display: grid;
    gap: 2rem;
    margin: 20px;
    justify-self: center;

    .tutorial-card {
        padding: 20px;
        background-color: var(--light-purple);
        border-radius: 8px;

        a {
            color: var(--dark-gray);
            text-decoration: none;

            &:hover {
                color: var(--dark-purple);
            }
        }
    }
}

/* Details styling */

.tutorial-header {
    text-align: center;
}

.tutorial-content {
    margin: 30px;
}

h3 {
    text-align: center;
    font-size: 1.7em;
}

.tutorial-step {
    margin: 30px 0;
}

.step-img {
    width: 80%;
    display: flex;
    justify-self: center;
    margin-top: 30px;
}

@media screen and (min-width: 1000px) {
    .tutorial-list {
    max-width: 1000px;
    }

    .tutorial-content {
        display: grid;
        justify-self: center;
        max-width: 1000px;
    }
}