@import 'variables.css';

/* List styling */
h1 {
    text-align: center;
}

.tutorial-list {
    display: grid;
    gap: 2rem;
    margin: 1.5rem;
    justify-self: center;

    .tutorial-card {
        padding: 1.5rem;
        display: flex;
        background-color: var(--light-purple);
        border-radius: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Hover effect styles only to be used if the entire card is a link, haven't decided yet */
        /* transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        } */

        .hero-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            align-self: center;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        a {
            color: var(--dark-gray);
            text-decoration: none;

            &:hover {
                color: var(--dark-purple);
            }
        }
    }
}

/* Details styling */

.tutorial-header {
    text-align: center;
}

.tutorial-content {
    margin: 2rem;

    .tutorial-step {
        margin: 2rem 0;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 1.7rem;
    }

    .step-img {
        width: 50%;
        display: flex;
        justify-self: center;
        margin-top: 2rem;
    }
}

.content-divider {
    margin: 2rem -1.48rem;
    background-color: var(--medium-purple);
    padding: 0.5rem;
}

/* Comment form styling */
.tutorial-comments {
    max-width: 600px;
    margin: 2rem auto;
    width: 100%;

    h3 {
        font-size: 1.75rem;
        text-align: center;
    }

    span {
            font-family: var(--paragraph-font);
            font-weight: bold;
            font-size: 1.75rem;
        }

    .comment {
        border-left: 2px solid var(--medium-purple);
        padding: 0.2rem 1rem;
        font-family: var(--paragraph-font);
        color: var(--dark-gray);
        margin: 0;
        font-size: 1rem;
        display: grid;
        align-content: center;

        .sent-by {
            font-weight: normal;
            color: var(--dark-purple);
        }

        .date-created {
            font-size: 0.8rem;
            margin-top: -0.5rem;
        }

        .message {
            margin: 0.7rem;
            margin-left: 0;
        }
    }

    .no-comments {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .form-content {
        text-align: center;
        font-size: 1.5rem;

        textarea {
            width: 100%;
            display: block;
            font-family: var(--paragraph-font);
            font-size: 1rem;
            padding: 1rem;
            border-radius: 8px;
            border: 2px solid var(--medium-purple);
            transition: border-color 0.3s ease;
            box-sizing: border-box;
            
            &:focus {
                outline: none;
                border-color: var(--dark-purple);
            }
        }
    }

    label {
        display: block;
    }

    .submit-button {
        width: 20%;
        display: flex;
        justify-self: center;
        justify-content: center;
        padding: 1rem;
        background-color: var(--dark-purple);
        border: none;
        border-radius: 8px;
        color: var(--off-white);
        font-size: 1rem;
        font-family: var(--paragraph-font);
        font-weight: bold;
        cursor: pointer;
        margin-top: 2rem;
    }
    
        .login-button {
            display: flex;
            margin: 1.5rem 0;
            padding: 1rem 1.5rem;
            background-color: var(--dark-purple);
            border-radius: 8px;
            color: var(--off-white);
            text-decoration: none;
            width: fit-content;
            justify-self: center;
        }
}

@media screen and (min-width: 1000px) {
    .tutorial-list {
        max-width: 1000px;
            
        .tutorial-card {
            flex-direction: row !important;
            
            .hero-img {
                margin: 1.5rem;
            }

            .card-details {
                display: flex;
                flex-direction: column;
                align-self: center;
                text-align: left !important;
            }
        }
    }

    .tutorial-content {
        display: grid;
        justify-self: center;
        max-width: 1000px;
    }
}